/.pytest_cache
/.vscode
/C
/cse110
/cse111
/cse130
/hi.py
/Lab02.json
/Lab06.countries.json
/Lab06.empty.json
/Lab06.languages.json
/Lab06.trivial.json
/my_file.txt
/students.csv
/test_water_flow(prove5-6).py
/volume.txt
/water_flow.py
/ye.py
/__pycache__